.c_home-frame,

.c_home-frame01,

.c_home-frame02,

.c_home-frame03,

.c_home-frame04 {

  width: 100%;

  max-width: 1440px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame {

  min-height: 3817px;

  background-color: #fff;

}



.c_home-frame01,

.c_home-frame02,

.c_home-frame03,

.c_home-frame04 {

  min-height: 96px;

}



.c_home-frame03,

.c_home-frame04 {

  min-height: 60px;

}



.c_home-frame04 {

  overflow: hidden;

  max-width: 760px;

}



.c_home-text,

.c_home-text001 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text {

  width: 100%;

  max-width: 44px;

  min-height: 17px;

}



.c_home-text001 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text002 {

  width: 100%;

  max-width: 55.04375076293945px;

  min-height: 17px;

}



.c_home-text002,

.c_home-text003,

.c_home-text004 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text003 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text004 {

  width: 100%;

  max-width: 55px;

  min-height: 17px;

}



.c_home-text005 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text005,

.c_home-text006,

.c_home-text007 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text006 {

  width: 100%;

  max-width: 47px;

  min-height: 17px;

}



.c_home-text007 {

  color: #111;

  font-size: 16px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame05,

.c_home-frame06 {

  width: 100%;

  max-width: 1440px;

  box-sizing: border-box;

  min-height: 60px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame06 {

  overflow: hidden;

  max-width: 1211px;

}



.c_home-frame07 {

  max-width: 180px;

  min-height: 40px;

  background-color: #fff;

}



.c_home-frame07,

.c_home-frame08,

.c_home-frame09 {

  width: 100%;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame08 {

  max-width: 180px;

  min-height: 40px;

  border-radius: 100px 100px 100px 100px;

  background-color: #fbffb1;

}



.c_home-frame09 {

  overflow: hidden;

  max-width: 84px;

  min-height: 18px;

}



.c_home-text008,

.c_home-text009 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text008 {

  width: 100%;

  max-width: 50.90312576293945px;

  min-height: 17px;

}



.c_home-text009 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame10,

.c_home-frame11 {

  width: 100%;

  overflow: hidden;

  box-sizing: border-box;

}



.c_home-frame10 {

  display: flex;

  padding: 6px 8px;

  position: relative;

  max-width: 40px;

  min-height: 36px;

  align-items: flex-start;

  border-radius: 100px 100px 100px 100px;

  justify-content: flex-start;

}



.c_home-frame11 {

  max-width: 24px;

  min-height: 24px;

}



.c_home-frame12 {

  gap: 12px;

  width: 100%;

  display: flex;

  padding: 12px 0;

  position: relative;

  max-width: 36px;

  box-sizing: border-box;

  min-height: 60px;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-frame13,

.c_home-frame14 {

  width: 100%;

  overflow: hidden;

  box-sizing: border-box;

}



.c_home-frame13 {

  display: flex;

  padding: 6px;

  position: relative;

  max-width: 36px;

  min-height: 36px;

  align-items: flex-start;

  border-radius: 100px 100px 100px 100px;

  justify-content: flex-start;

}



.c_home-frame14 {

  max-width: 24px;

  min-height: 24px;

}



.c_home-rectangle {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 59px;

}



.c_home-frame15 {

  width: 100%;

  max-width: 1440px;

  box-sizing: border-box;

  min-height: 36px;

  background-color: #ffbfa9;

}



.c_home-frame16,

.c_home-frame17,

.c_home-frame18 {

  width: 100%;

  box-sizing: border-box;

  min-height: 36px;

  justify-content: flex-start;

}



.c_home-frame16 {

  max-width: 1440px;

  align-items: flex-start;

  flex-direction: column;

}



.c_home-frame17,

.c_home-frame18 {

  display: flex;

  position: relative;

  max-width: 273px;

  align-items: center;

}



.c_home-frame18 {

  gap: 15.375px;

  padding: 10px 6px 10px 12px;

  max-width: 99px;

  min-height: 34px;

  align-items: flex-start;

}



.c_home-text010 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text011 {

  color: #111;

  font-size: 11px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text011,

.c_home-text012,

.c_home-text013 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text012 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text013 {

  color: #111;

  font-size: 12px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 400;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame19 {

  gap: 12.6875px;

  width: 100%;

  display: flex;

  padding: 11px 4px 11px 8px;

  position: relative;

  max-width: 52px;

  box-sizing: border-box;

  min-height: 36px;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-text014 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text015 {

  color: #111;

  font-size: 11px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text015,

.c_home-text016,

.c_home-text017 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text016 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text017 {

  color: #111;

  font-size: 12px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 400;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame20 {

  width: 100%;

  max-width: 123px;

  box-sizing: border-box;

  min-height: 36px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-text018 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text019 {

  color: #111;

  font-size: 11px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text019,

.c_home-text020,

.c_home-text021 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text020 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text021 {

  color: #111;

  font-size: 12px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 400;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text022,

.c_home-text023 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text022 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text023 {

  color: #111;

  font-size: 11px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 14px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame21 {

  width: 100%;

  max-width: 147px;

  box-sizing: border-box;

  min-height: 26px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #fff;

}



.c_home-text024,

.c_home-text025 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text024 {

  width: 100%;

  max-width: 127.05937194824219px;

  min-height: 16px;

}



.c_home-text025 {

  color: #111;

  font-size: 13px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 26px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame22 {

  min-height: 3721px;

}



.c_home-frame22,

.c_home-frame23,

.c_home-frame24 {

  width: 100%;

  max-width: 1440px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame23 {

  overflow: hidden;

  min-height: 58px;

  background-color: #f5f5f5;

}



.c_home-frame24 {

  min-height: 44px;

}



.c_home-text026,

.c_home-text027 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text026 {

  width: 100%;

  max-width: 167px;

  min-height: 17px;

}



.c_home-text027 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 16px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame25 {

  width: 100%;

  display: flex;

  padding: 0 12px 0 11px;

  position: relative;

  max-width: 337px;

  box-sizing: border-box;

  min-height: 24px;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-text028,

.c_home-text029 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text028 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text029 {

  color: #111;

  font-size: 11px;

  font-style: normal;

  font-family: "Actor",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame26 {

  width: 100%;

  max-width: 1px;

  box-sizing: border-box;

  min-height: 1px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-text030 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text030,

.c_home-text031 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text032 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text032,

.c_home-text033 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-frame27 {

  width: 100%;

  max-width: 1344px;

  box-sizing: border-box;

  min-height: 977px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #ffbfa9;

}



.c_home-rectangle01 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 1344px;

}



.c_home-frame28 {

  width: 100%;

  max-width: 1008px;

  box-sizing: border-box;

  min-height: 229px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-text034 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text035 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text035,

.c_home-text036,

.c_home-text037 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text036 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text037 {

  color: #111;

  font-size: 56px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 60px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-frame29 {

  width: 100%;

  display: flex;

  padding: 0 248px 0 249px;

  position: relative;

  max-width: 857px;

  box-sizing: border-box;

  min-height: 24px;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-text038,

.c_home-text039 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text038 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text039 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Abel",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame30,

.c_home-frame31 {

  width: 100%;

  display: flex;

  position: relative;

  box-sizing: border-box;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-frame30 {

  gap: 6px;

  padding: 6px 380px 0 374px;

  max-width: 1020px;

  min-height: 45px;

}



.c_home-frame31 {

  padding: 8px 22px;

  overflow: hidden;

  max-width: 112px;

  min-height: 39px;

  border-radius: 30px 30px 30px 30px;

  background-color: #111;

}



.c_home-text040,

.c_home-text041 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text040 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text041 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame32 {

  width: 100%;

  display: flex;

  padding: 8px 23px 8px 22px;

  overflow: hidden;

  position: relative;

  max-width: 149px;

  box-sizing: border-box;

  min-height: 39px;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  justify-content: flex-start;

  background-color: #111;

}



.c_home-text042,

.c_home-text043 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text042 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text043 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame33,

.c_home-frame34 {

  width: 100%;

  max-width: 1440px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame33 {

  min-height: 604px;

  background-color: #ffebb4;

}



.c_home-frame34 {

  min-height: 52px;

}



.c_home-text044,

.c_home-text045 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text044 {

  width: 100%;

  max-width: 161.5906219482422px;

  min-height: 27px;

}



.c_home-text045 {

  color: #111;

  font-size: 22px;

  font-style: normal;

  font-family: "Alatsi",sans-serif;

  font-weight: 400;

  line-height: 28px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame35 {

  gap: 12.375px;

  width: 100%;

  display: flex;

  padding: 0 0 0 7px;

  position: relative;

  max-width: 165px;

  box-sizing: border-box;

  min-height: 48px;

  align-items: center;

  justify-content: flex-start;

}



.c_home-text046,

.c_home-text047 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text046 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text047 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame36,

.c_home-frame37 {

  max-width: 48px;

  min-height: 48px;

  border-radius: 24px 24px 24px 24px;

}



.c_home-frame36 {

  width: 100%;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #f5f5f5;

}



.c_home-frame37 {

  background-color: #e5e5e5;

}



.c_home-frame37,

.c_home-frame38,

.c_home-frame39 {

  width: 100%;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame38 {

  overflow: hidden;

  max-width: 1440px;

  min-height: 540px;

}



.c_home-frame39 {

  max-width: 441px;

  min-height: 510px;

}



.c_home-rectangle02 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 441.359375px;

}



.c_home-frame40,

.c_home-frame41 {

  width: 100%;

  box-sizing: border-box;

  min-height: 48px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame40 {

  max-width: 425px;

  background-color: #ffebb4;

}



.c_home-frame41 {

  display: flex;

  padding: 0 3px 0 0;

  position: relative;

  max-width: 153px;

}



.c_home-text048 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text049 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Alata",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text049,

.c_home-text050,

.c_home-text051 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text050 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text051 {

  color: #757575;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text052,

.c_home-text053 {

  margin-top: 0;

  text-align: right;

  margin-bottom: 0;

}



.c_home-text052 {

  width: 100%;

  max-width: 87px;

  min-height: 17px;

}



.c_home-text053 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame42 {

  width: 100%;

  max-width: 441px;

  box-sizing: border-box;

  min-height: 510px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle03 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 441.359375px;

}



.c_home-frame43,

.c_home-frame44 {

  width: 100%;

  box-sizing: border-box;

  min-height: 48px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame43 {

  max-width: 425px;

  background-color: #ffebb4;

}



.c_home-frame44 {

  display: flex;

  padding: 0 3px 0 0;

  position: relative;

  max-width: 199px;

}



.c_home-text054 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text055 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Alata",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text055,

.c_home-text056,

.c_home-text057 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text056 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text057 {

  color: #757575;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text058,

.c_home-text059 {

  margin-top: 0;

  text-align: right;

  margin-bottom: 0;

}



.c_home-text058 {

  width: 100%;

  max-width: 82px;

  min-height: 17px;

}



.c_home-text059 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame45 {

  width: 100%;

  max-width: 441px;

  box-sizing: border-box;

  min-height: 510px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle04 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 441.359375px;

}



.c_home-frame46,

.c_home-frame47 {

  width: 100%;

  box-sizing: border-box;

  min-height: 48px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame46 {

  max-width: 425px;

  background-color: #ffebb4;

}



.c_home-frame47 {

  display: flex;

  padding: 0 6px 0 0;

  position: relative;

  max-width: 252px;

}



.c_home-text060 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text061 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Alata",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text061,

.c_home-text062,

.c_home-text063 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text062 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text063 {

  color: #757575;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text064,

.c_home-text065 {

  margin-top: 0;

  text-align: right;

  margin-bottom: 0;

}



.c_home-text064 {

  width: 100%;

  max-width: 75px;

  min-height: 17px;

}



.c_home-text065 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame48 {

  width: 100%;

  max-width: 441px;

  box-sizing: border-box;

  min-height: 510px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle05 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 31.921875px;

}



.c_home-frame49,

.c_home-frame50 {

  width: 100%;

  display: flex;

  position: relative;

  box-sizing: border-box;

  min-height: 48px;

  align-items: flex-start;

  justify-content: flex-start;

}



.c_home-frame49 {

  padding: 0 276px 0 0;

  max-width: 519px;

  background-color: #ffebb4;

}



.c_home-frame50 {

  padding: 0 5px 0 0;

  max-width: 243px;

  flex-direction: column;

}



.c_home-text066 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text067 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "Alata",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text067,

.c_home-text068,

.c_home-text069 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text068 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text069 {

  color: #757575;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame51 {

  width: 100%;

  max-width: 1344px;

  box-sizing: border-box;

  min-height: 977px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #ffbfa9;

}



.c_home-text070,

.c_home-text071 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text070 {

  width: 100%;

  max-width: 111.48124694824219px;

  min-height: 27px;

}



.c_home-text071 {

  color: #111;

  font-size: 22px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 28px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame52 {

  width: 100%;

  max-width: 1344px;

  box-sizing: border-box;

  min-height: 925px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle06 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 1344px;

}



.c_home-frame53 {

  width: 100%;

  max-width: 1008px;

  box-sizing: border-box;

  min-height: 177px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-text072 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text073 {

  color: #111;

  font-size: 52px;

  font-style: normal;

  font-family: "Abhaya Libre ExtraBold",sans-serif;

  font-weight: 400;

  line-height: 60px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-text073,

.c_home-text074,

.c_home-text075 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text074 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text075 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame54 {

  width: 100%;

  display: flex;

  padding: 8px 22px;

  overflow: hidden;

  position: relative;

  max-width: 80px;

  box-sizing: border-box;

  min-height: 39px;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  justify-content: flex-start;

  background-color: #111;

}



.c_home-text076,

.c_home-text077 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text076 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text077 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame55 {

  width: 100%;

  max-width: 1443px;

  box-sizing: border-box;

  min-height: 634px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #ffebb4;

}



.c_home-text078,

.c_home-text079 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text078 {

  width: 100%;

  max-width: 157.6062469482422px;

  min-height: 27px;

}



.c_home-text079 {

  color: #111;

  font-size: 23px;

  font-style: normal;

  font-family: "Helvetica Neue",sans-serif;

  font-weight: 500;

  line-height: 28px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame56,

.c_home-frame57 {

  width: 100%;

  max-width: 1356px;

  box-sizing: border-box;

  min-height: 540px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame57 {

  max-width: 440px;

}



.c_home-rectangle07 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 440px;

}



.c_home-frame58 {

  width: 100%;

  display: flex;

  padding: 8px 21px 8px 22px;

  overflow: hidden;

  position: relative;

  max-width: 99px;

  box-sizing: border-box;

  min-height: 39px;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  justify-content: flex-start;

  background-color: #fff;

}



.c_home-text080,

.c_home-text081 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text080 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text081 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame59 {

  width: 100%;

  max-width: 440px;

  box-sizing: border-box;

  min-height: 549px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle08 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 440px;

}



.c_home-frame60 {

  width: 100%;

  display: flex;

  padding: 8px 22px;

  overflow: hidden;

  position: relative;

  max-width: 109px;

  box-sizing: border-box;

  min-height: 39px;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  justify-content: flex-start;

  background-color: #fff;

}



.c_home-text082,

.c_home-text083 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text082 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text083 {

  color: #111;

  font-size: 15px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame61 {

  width: 100%;

  max-width: 440px;

  box-sizing: border-box;

  min-height: 540px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-rectangle09 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 440px;

}



.c_home-frame62 {

  width: 100%;

  display: flex;

  padding: 8px 23px 8px 22px;

  overflow: hidden;

  position: relative;

  max-width: 96px;

  box-sizing: border-box;

  min-height: 39px;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  justify-content: flex-start;

  background-color: #fff;

}



.c_home-text084,

.c_home-text085 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text084 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_home-text085 {

  color: #111;

  font-size: 14px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 24px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame63,

.c_home-frame64 {

  width: 100%;

  box-sizing: border-box;

  min-height: 265px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame63 {

  max-width: 1446px;

  background-color: #111;

}



.c_home-frame64 {

  max-width: 1152px;

}



.c_home-frame65 {

  max-width: 1098px;

  min-height: 170px;

}



.c_home-frame65,

.c_home-frame66,

.c_home-frame67,

.c_home-frame68 {

  width: 100%;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame66 {

  max-width: 823px;

  min-height: 170px;

}



.c_home-frame67,

.c_home-frame68 {

  max-width: 196px;

}



.c_home-frame67 {

  overflow: hidden;

  min-height: 136px;

}



.c_home-frame68 {

  min-height: 133px;

}



.c_home-text086 {

  width: 100%;

  max-width: 54.897499084472656px;

  min-height: 12.800000190734863px;

}



.c_home-text086,

.c_home-text087,

.c_home-text088 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text087 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 26px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-text088 {

  width: 100%;

  max-width: 78.53499603271484px;

  min-height: 12.800000190734863px;

}



.c_home-text089 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 26px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-text089,

.c_home-text090,

.c_home-text091 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text090 {

  width: 100%;

  max-width: 78.54750061035156px;

  min-height: 12.800000190734863px;

}



.c_home-text091 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 26px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-text092,

.c_home-text093 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text092 {

  width: 100%;

  max-width: 74.77249908447266px;

  min-height: 12.800000190734863px;

}



.c_home-text093 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 19px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text094,

.c_home-text095 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text094 {

  width: 100%;

  max-width: 83.52249908447266px;

  min-height: 12.800000190734863px;

}



.c_home-text095 {

  color: #fff;

  font-size: 7.200000286102295px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 26px;

  letter-spacing: 0;

  text-transform: uppercase;

}



.c_home-frame69,

.c_home-frame70 {

  width: 100%;

  max-width: 196px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame69 {

  overflow: hidden;

  min-height: 170px;

}



.c_home-frame70 {

  min-height: 168px;

}



.c_home-text096,

.c_home-text097 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text096 {

  width: 100%;

  max-width: 41.310001373291016px;

  min-height: 12.800000190734863px;

}



.c_home-text097 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 19px;

  letter-spacing: .4000000059604645px;

  text-transform: uppercase;

}



.c_home-text098 {

  width: 100%;

  max-width: 57.68499755859375px;

  min-height: 13.600000381469727px;

}



.c_home-text098,

.c_home-text099,

.c_home-text100 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text099 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text100 {

  width: 100%;

  max-width: 36.82250213623047px;

  min-height: 13.600000381469727px;

}



.c_home-text101 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text101,

.c_home-text102,

.c_home-text103 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text102 {

  width: 100%;

  max-width: 35.435001373291016px;

  min-height: 13.600000381469727px;

}



.c_home-text103 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text104 {

  width: 100%;

  max-width: 86px;

  min-height: 14px;

}



.c_home-text104,

.c_home-text105,

.c_home-text106 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text105 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text106 {

  width: 100%;

  max-width: 150.70999145507812px;

  min-height: 13.600000381469727px;

}



.c_home-text107 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text107,

.c_home-text108,

.c_home-text109 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text108 {

  width: 100%;

  max-width: 158px;

  min-height: 13px;

}



.c_home-text109 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame71,

.c_home-frame72 {

  width: 100%;

  max-width: 196px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame71 {

  overflow: hidden;

  min-height: 121px;

}



.c_home-frame72 {

  min-height: 118px;

}



.c_home-text110 {

  width: 100%;

  max-width: 62px;

  margin-top: 0;

  min-height: 13px;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text111 {

  color: #fff;

  font-size: 8px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 19px;

  letter-spacing: .4000000059604645px;

  text-transform: uppercase;

}



.c_home-text111,

.c_home-text112,

.c_home-text113 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text112 {

  width: 100%;

  max-width: 24.89750099182129px;

  min-height: 13.600000381469727px;

}



.c_home-text113 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text114 {

  width: 100%;

  max-width: 35.73500061035156px;

  min-height: 13.600000381469727px;

}



.c_home-text114,

.c_home-text115,

.c_home-text116 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text115 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text116 {

  width: 100%;

  max-width: 41.47249984741211px;

  min-height: 13.600000381469727px;

}



.c_home-text117 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text117,

.c_home-text118,

.c_home-text119 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text118 {

  width: 100%;

  max-width: 67px;

  min-height: 14px;

}



.c_home-text119 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame73,

.c_home-frame74,

.c_home-frame75 {

  width: 100%;

  max-width: 270px;

  box-sizing: border-box;

  min-height: 30px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-frame74,

.c_home-frame75 {

  max-width: 1098px;

  min-height: 50px;

}



.c_home-frame75 {

  max-width: 538px;

  min-height: 26px;

}



.c_home-frame76,

.c_home-frame77 {

  width: 100%;

  box-sizing: border-box;

  min-height: 12px;

}



.c_home-frame76 {

  gap: 6.400000095367432px;

  display: flex;

  padding: 0 7px 0 0;

  position: relative;

  max-width: 71px;

  align-items: flex-end;

  justify-content: flex-start;

}



.c_home-frame77 {

  overflow: hidden;

  max-width: 14px;

}



.c_home-text120 {

  width: 100%;

  max-width: auto;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text121 {

  color: #fff;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 10px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text121,

.c_home-text122,

.c_home-text123 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_home-text122 {

  width: 100%;

  max-width: 210px;

  min-height: 14px;

}



.c_home-text123 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 10px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-frame78 {

  width: 100%;

  max-width: 544px;

  box-sizing: border-box;

  min-height: 37px;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

}



.c_home-text124,

.c_home-text125 {

  margin-top: 0;

  text-align: center;

  margin-bottom: 0;

}



.c_home-text124 {

  width: 100%;

  max-width: 32.209999084472656px;

  min-height: 13.600000381469727px;

}



.c_home-text125 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text126 {

  width: 100%;

  max-width: 61.459999084472656px;

  min-height: 13.600000381469727px;

}



.c_home-text126,

.c_home-text127,

.c_home-text128 {

  margin-top: 0;

  text-align: right;

  margin-bottom: 0;

}



.c_home-text127 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text128 {

  width: 100%;

  max-width: 58.972496032714844px;

  min-height: 13.600000381469727px;

}



.c_home-text129 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}



.c_home-text129,

.c_home-text130,

.c_home-text131 {

  margin-top: 0;

  text-align: right;

  margin-bottom: 0;

}



.c_home-text130 {

  width: 100%;

  max-width: 85.08499908447266px;

  min-height: 13.600000381469727px;

}



.c_home-text131 {

  color: #7e7e7e;

  font-size: 9.600000381469727px;

  font-style: normal;

  font-family: "ABeeZee",sans-serif;

  font-weight: 400;

  line-height: 22px;

  letter-spacing: 0;

  text-transform: none;

}