/* CSS untuk navbar */
.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  color: #000;
  font-weight: bold;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.btn-outline-success {
  border-radius: 0;
  color: #000;
  border-color: #000;
}

/* CSS untuk shopping cart */
.cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart i {
  font-size: 20px;
  color: #c40847;
}

/* CSS untuk login */
.login {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login a {
  color: #000;
  margin-right: 50px;
}

/* CSS untuk konten lainnya */
/* Tambahkan CSS tambahan sesuai kebutuhan Anda */

